* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}

html,
body {
 font-size: 14px;
  font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    /* color: #1653ec; */
}


span{
  color: #F9B590;
}
